@import '../../styles/variables';
@import '../../styles/mixins';

// CONTACT PAGE
.contact {
    padding: 50px 20px;
    background: $light-background;
    color: $dark-color;

    h1 {
        font-family: $font-title;
        font-size: 36px;
        margin-bottom: 30px;

        &::after {
            @include after-line(80px, 4px, $primary-color);
        }
    }

    .contact-container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 20px;

        @media (min-width: 768px) {
            flex-direction: row;
            align-items: stretch;
        }
    }

    .contact-info {
        background: $secondary-color;
        color: $light-color;
        padding: 20px;
        flex: 1;
        max-width: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        @include border-radius(8px);
        @include box-shadow(0, 4px, 6px, rgba(0, 0, 0, 0.1));

        h2 {
            color: black;
            font-size: 22px;
            margin-bottom: 30px;

            &::after {
                @include after-line(80px, 4px, $primary-color);
            }
        }
    }

    .contact-item {
        display: flex;
        align-items: center;
        margin-bottom: 15px;
        font-size: 14px;

        svg {
            margin-right: 10px;
            font-size: 20px;
            color: $dark-color;
        }

        p {
            margin: 0;
            font-size: 14px;
        }
    }
}