@import '../../styles/variables';
@import '../../styles/mixins';

// HERO SECTION
.hero {
    @include background-gradient(rgba(218, 191, 255, 0.7), rgba(144, 122, 214, 0.7), '../../assets/abstract-background.jpg');
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;

    .hero-content {
        color: $light-color;
        opacity: 0;
        transform: translateY(50px);
        animation: fadeInUp 1s ease-out 0s forwards;

        .hero-title {
            font-family: $font-title;
            font-size: 70px;
            font-weight: bold;
            margin: 0;
            line-height: 1.2;
            text-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
        }

        .hero-subtitle {
            font-size: 24px;
            font-weight: 300;
            margin: 10px 0 30px;
            text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
        }

        .hero-button {
            padding: 12px 24px;
            font-size: 18px;
            font-weight: bold;
            color: $light-color;
            background-color: $secondary-color;
            border: none;
            border-radius: 5px;
            text-transform: uppercase;
            text-decoration: none;
            @include box-shadow(0, 4px, 8px, rgba(0, 0, 0, 0.3));
            @include transition(0.3s, ease);
            transition: background-color 0.4s ease;

            &:hover {
                background-color: lighten($secondary-color, 10%);
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
                color: $dark-background;
            }
        }
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.sections {
    background: $light-color;
    padding: 50px;
    min-height: 100vh;
    opacity: 0;
    animation: fadeInUp 1s ease-out 0.5s forwards;

    h2 {
        font-family: $font-title;
        font-weight: bold;
        font-size: 36px;
        margin-bottom: 20px;
        position: relative;

        &::after {
            content: '';
            display: block;
            width: 60px;
            height: 4px;
            background: $secondary-color;
        }
    }

    p {
        font-family: $font-text;
        font-size: 18px;
        line-height: 1.6;
        color: $dark-color;
    }
}

// ABOUT SECTION
#about {
    background: linear-gradient(to right, $primary-color, $accent-color);
    color: $dark-color;

    h2 {
        font-size: 36px;
        margin-bottom: 50px;
    }

    .about-header {
        text-align: center;

        h3 {
            font-size: 25px;
            color: $light-color;
            margin-bottom: 30px;
            font-weight: bold;
        }
    }

    .about-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        opacity: 0;
        transform: translateX(-50px);
        transition: opacity 0.6s ease-out, transform 0.7s ease-out;
        animation: fadeInLeft 1s ease-out 1s forwards;

        @media (min-width: 1170px) {
            flex-direction: row;
            justify-content: center;
        }

        @media (max-width: 1170px) {
            text-align: center;
        }

        .profile-photo {
            width: 40vw;
            height: auto;
            max-width: 300px;
            min-width: 150px;
            border-radius: 50%;
            margin-bottom: 20px;

            @media (min-width: 768px) {
                width: 25vw;
                width: 300px;
                height: auto;
                border-radius: 20%;
                margin-right: 50px;
            }

            @media (max-width: 767px) {
                width: 50vw;
                max-width: 250px;
            }
        }

        .about-text {
            max-width: 700px;

            p {
                margin-bottom: 15px;
                font-size: 20px;
                line-height: 1.9;

                strong {
                    color: $light-color;
                }

                @media (max-width: 767px) {
                    text-align: center;
                }
            }
        }
    }
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

// CAREER SECTION
#career {
    background: $dark-background;
    color: $jordy-blue;

    .timeline {
        margin-top: 40px;
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding-left: 30px;
    }

    .timeline-line {
        position: absolute;
        top: 0;
        left: 50%;
        width: 4px;
        height: 100%;
        background: $primary-color;
        z-index: -1;
    }

    .timeline-item {
        position: relative;
        padding-left: 40px;
        font-size: 18px;
        line-height: 1.5;
        display: flex;
        flex-direction: column;
        opacity: 0;
        transform: translateY(20px);
        animation: fadeInUp 1s ease-out 1.5s forwards;

        &:hover {
            transform: scale(1.05);
            opacity: 0.8;
        }

        &::before {
            content: '';
            position: absolute;
            top: 8px;
            left: 0;
            width: 20px;
            height: 20px;
            background: $green-blue;
            border-radius: 50%;
            box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
        }
    }

    .timeline-item-left {
        padding-right: 30px;
        margin-left: 50%;
        align-items: flex-start;
        background: $secondary-color;
        border-radius: 5px;

        &::before {
            left: auto;
            right: -10px;
        }
    }

    .timeline-item-right {
        padding-right: 40px;
        padding-left: 30px;
        margin-right: 50%;
        align-items: flex-end;
        background: $secondary-color;
        border-radius: 5px;

        &::before {
            left: -10px;
        }
    }
}

// SKILLS SECTION
#skills {
    background: linear-gradient(135deg, $dark-color, $accent-color);
    color: $light-color;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;

    &.visible {
        opacity: 1;
        transform: translateY(0);
    }

    .skills-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 20px;
        margin-top: 30px;
        margin-bottom: 30px;
        opacity: 0;
        transform: translateY(20px);
        @include fade-in-down(1s, 0.8s);

        @media (max-width: 920px) {
            grid-template-columns: 1fr;
        }

        .skill {
            border-radius: 10px;
            padding: 20px;
            text-align: center;
            transition: transform 0.3s ease;

            &:hover {
                transform: scale(1.05);
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
            }

            h3 {
                font-size: 20px;
                color: $jordy-blue;
                font-weight: bold;
            }

            @keyframes fadeInDown {
                0% {
                    opacity: 0;
                    transform: translateY(-30px); // Les éléments commencent plus haut
                }

                100% {
                    opacity: 1;
                    transform: translateY(0); // Les éléments reviennent à leur position d'origine
                }
            }

            .icons {
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                gap: 20px;
                margin-top: 10px;
                font-size: 50px;

                .fa-icon {
                    margin: 10px;
                }

                .img-icon {
                    width: 50px;
                    height: 50px;
                    filter: sepia(0.9) saturate(3) hue-rotate(220deg) brightness(0.9);
                }

            }

            &.frontend {
                background: $secondary-color;

                .icons {
                    color: $dark-background;
                }
            }

            &.backend {
                background: $dark-color;

                .icons {
                    color: $secondary-color;
                }
            }

            &.tools {
                background: $dark-background;

                .icons {
                    color: $primary-color;
                }
            }

        }
    }

    .services-table {
        margin-top: 30px;
        background: rgba(255, 255, 255, 0.80);
        border-radius: 10px;
        padding: 30px;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
        color: $dark-color;
        display: grid;
        gap: 20px;
        grid-template-columns: 1fr 1fr;
        opacity: 0;
        @include fade-in-down(1s, 0.8s);
    }

    .service-item {
        padding: 15px;
        background-color: #f9f9f9;
        border-radius: 8px;
        transition: background-color 0.3s ease;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
    }

    .service-item:hover {
        background-color: #f1f1f1;
    }

    .service-item h4 {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 10px;
        color: $secondary-color;
    }

    .service-item p {
        font-size: 14px;
        color: $dark-color;
        line-height: 1.5;
    }

    @media (max-width: 720px) {
        .services-table {
            grid-template-columns: 1fr;
        }
    }
}