@import '../../styles/variables';
@import '../../styles/mixins';

.contact-form {
    flex: 2;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    @media (min-width: 768px) {
        margin: 0;
    }

    .form-group {
        display: flex;
        flex-direction: column;
        font-weight: bold;

        label {
            font-size: 16px;
            margin-bottom: 5px;
        }

        input,
        textarea {
            padding: 10px;
            border: 1px solid $dark-color;
            border-radius: 5px;
            font-size: 16px;

            &:focus {
                border-color: $secondary-color;
                outline: none;
            }
        }
    }

    .contact-button {
        padding: 12px 20px;
        background: $accent-color;
        color: $light-color;
        font-size: 16px;
        text-transform: uppercase;
        font-weight: bold;
        border: none;
        cursor: pointer;
        @include border-radius(5px);
        @include button-hover($accent-color, 10%);
    }
}