@import '../../styles/variables';
@import '../../styles/mixins';

footer {
    padding: 30px;
    background-color: $dark-color;
    color: $light-color;
    text-align: center;

    h2 {
        color: $accent-color;
    }

    a {
        color: $light-color;
        margin: 0 10px;
        text-decoration: none;

        &:hover {
            color: $accent-color;
        }
    }

    .social-icons {
        margin-top: 10px;

        i {
            margin: 0 10px;
        }
    }
}