@import '../../styles/variables';
@import '../../styles/mixins';

// HEADER
.navbar-custom {
    position: sticky;
    background-color: $light-color;
    top: 0;
    z-index: 1000;
    width: 100%;
    @include transition(background-color 0.3s, box-shadow 0.3s);

    &.scrolled {
        position: sticky;
        top: 0;
        left: 0;
        width: 100%;
        @include box-shadow(0, 4px, 6px, rgba(0, 0, 0, 0.1));
    }

    .navbar-brand {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 20px;

        img.logo {
            height: 90px;
            width: auto;
            max-height: 100%;
            transition: transform 0.2s ease;

            &:hover {
                transform: scale(1.1);
            }
        }

        &:hover {
            color: $secondary-color;
        }

        @media (max-width: 720px) {
            font-size: 32px;
        }
    }

    .navbar-nav {
        display: flex;
        align-items: center;
        gap: 1rem;
        margin-left: auto;
        padding-left: 20px;
        padding-right: 20px;
        cursor: pointer;

        .nav-link {
            font-family: $font-text;
            font-size: 16px;
            font-weight: 400;
            text-transform: uppercase;
            padding: 0.5rem 1rem;
            transition: color 0.2s ease;

            &:hover {
                color: $accent-color;
                font-weight: bold;
            }
        }

        .portfolio-link,
        .contact-link {
            font-weight: bold;
            @include border-radius(5px);
            @include transition(background-color 0.3s, color 0.3s);
        }

        .portfolio-link {
            border: 2px solid $secondary-color;
            background-color: $secondary-color;
            color: $dark-color;

            &:hover {
                background-color: $primary-color;
                color: #fff;
                border-bottom: 2px solid $secondary-color;
            }
        }

        .contact-link {
            border: 2px solid $accent-color;
            background-color: #fff;
            color: $accent-color;

            &:hover {
                background-color: $accent-color;
                color: #fff;
            }
        }
    }

    /* Responsive Burger Menu */
    @media (max-width: 720px),
    (max-width: 990px) and (min-width: 720px) {
        .navbar-nav {
            transition: opacity 0.3s ease, visibility 0s 0.3s;

            &.show {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                width: 100%;
                background-color: $light-color;
                padding: 1rem;
                box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            }

            .nav-link {
                width: 100%;
                padding: 1rem;
                text-align: left;
                font-size: 18px;
                border-bottom: 1px solid $primary-color;

                &:hover {
                    color: $accent-color;
                }
            }

            .portfolio-link {
                &:hover {
                    background-color: $primary-color;
                    color: #fff;
                }
            }

            .contact-link {
                border-bottom: 2px solid $accent-color;

                &:hover {
                    background-color: $accent-color;
                    color: #fff;
                }
            }
        }

        .navbar-toggler {
            display: block;
            padding: 0.5rem;
            margin-right: 20px;
            width: 40px;
            height: 40px;
            @include border-radius(5px);

            &:focus,
            &:hover {
                outline: none;
            }

            span {
                background-color: $light-color;
                display: block;
                height: 100%;
                width: 100%;
                margin: auto;
                transition: all 0.3s ease;
            }
        }
    }


}