@import '../../styles/variables';
@import '../../styles/mixins';

.portfolio-modal {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    color: $light-color;
    z-index: 100;
    @include modal-transition(70vh, 0.5s);
    overflow-y: hidden;

    @media (max-width: 670px) {
        overflow-y: scroll;
        scrollbar-width: none;
        -ms-overflow-style: none;
    }

    .modal-content {
        padding: 32px;
        background-color: $dark-color;
        border-radius: 10px;
        position: relative;
        max-width: 90%;
        margin: 32px auto;

        button.close-modal {
            position: absolute;
            top: 1rem;
            left: 50%;
            transform: translateX(-50%);
            font-size: 18px;
            background: none;
            color: $light-color;
            border: none;
            cursor: pointer;
            padding: 10px;
            @include transition(color, 0.3s, ease);

            &:hover {
                color: $accent-color;
            }

            i {
                font-size: 30px;
            }
        }

        h2 {
            font-family: $font-title;
            font-size: 28px;
            font-weight: bold;
            margin-top: 35px;
            margin-bottom: 10px;
            color: $primary-color;
        }

        p {
            font-family: $font-text;
            font-size: 1rem;
            line-height: 1.5;
            margin-bottom: 20px;
            color: $light-color;
        }

        .technologies {
            margin-top: 10px;

            h3 {
                font-family: $font-title;
                font-size: 18px;
                margin-bottom: 10px;
                color: $accent-color;
            }

            ul {
                list-style-type: none;
                padding: 0;
                display: flex;
                gap: 15px;
                flex-wrap: wrap;

                li {
                    font-family: $font-text;
                    font-size: 50px;
                    margin-bottom: 8px;
                    color: $light-color;
                    align-items: center;
                }
            }
        }
    }

    @media (max-width: 660px) {
        .modal-content {
            button.close-modal {
                font-size: 16px;
                padding: 8px;
            }

            h3 {
                font-size: 24px;
            }
        }
    }
}