// Variables globales
$primary-color: #DABFFF;
$secondary-color: #907AD6;
$accent-color: #7FDEFF;
$dark-color: #2C2A4A;
$light-color: #FFFFFF;

// Palette de couleurs
$light-background: #ffffff;
$dark-background: #141B41;
$mauve: #DABFFF;
$tropical-indigo: #907AD6;
$space-cadet: #2C2A4A;
$pale-azure: #7FDEFF;
$jordy-blue: #98B9F2;
$green-blue: #306BAC;
$cornflower-blue: #6F9CEB;

// Font families
$font-logo: 'Inter', sans-serif;
$font-text: 'Roboto', sans-serif;